<div class="row">
  <div class="col md-6 offset-3">

    <%= render "/users/profile_navbar", user: @user %>

    
    
    <ul class="list-group">
      <% @user.followers.each do |follower| %>
        <li class="list-group-item">
          <%= link_to "#{follower.username}", user_path(follower.username) %>
        </li>
      <% end %>
    </ul>
  </div>  
</div>
